*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}


header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  background-color: darkcyan;
}

header a {
  color: white;
  text-decoration: none;
}

header ul {
  display: flex;
  gap: 20px;
}

header li {
  list-style: none;
}

/* MAIN */

#main {
  height: calc(100vh - 100px);

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 80px);
}


.container a {
  text-decoration: none;
  color: darkcyan;
  font-weight: bold;
  margin: 10px;
  align-self: right;
}

.items {
  display: flex;
  flex-direction: column;
}

/* FOOTER */

footer {
  height: 20px;
  background-color: darkcyan;
  color: white;
  font-size: 12px;
  text-align: center;
}